* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --txt-color-light: rgb(245, 216, 216);
    --text-color-dark: rgb(12, 12, 12);
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, rgba(250, 29, 29, 0.753), rgba(236, 130, 130, 0.753));

    font-family: 'Aboreto', sans-serif;
    color: var(--txt-color-dark);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5rem;
}

header img {
    height: 8rem;
}

button {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    background: none;
    border: none;
    cursor: pointer;
}

button div {
    animation: rotate 2.5s forwards linear infinite;
}

button input {
    width: 30rem;
    height: 3rem;

    padding: 2rem;
    border: none;
    border-radius: 3px;
}

button input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.5
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
}

span {
    font-size: 1rem;
    font-weight: bold;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;

    padding: 0 5rem;
    width: 100%;
    margin: 0 auto;

    justify-items: center;
}

.poke-card {

    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    position: relative;

    width: 25rem;
    height: 35rem;

    background-color: #ffff;

    border: 1 solid rgba(255, 255, 255, 0.);
    border-radius: 5px;

    padding: 1.5rem;

    box-shadow: 0px .8rem 4rem -.7rem rgba(0, 0, 0.5);
}

.poke-photo {

    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 1rem;

    width: 90%;
    margin: 0 auto;
}

.poke-photo img {
    width: 100%;
    height: 90%;
}

.poke-photo .garbage-icon {
    width: 20px;
    height: 20px;

    position: absolute;

    top: 10px;
    right: 10px;

    cursor: pointer;
}

.poke-info {
    display: flex;
    justify-content: space-between;
}

.bio-info {
    display: flex;
    flex-direction: column;
    gap: .7rem;

    margin-bottom: 3rem;
}

.type-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.type-info span {
    width: 5.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 0.5rem;
    border-radius: 5px;

    margin-bottom: 5rem;
}

.poketype-fairy{
    color: var(--txt-color-light);
    background-color: rgb(253, 18, 214);
}

.poketype-normal {
    background-color: rgba(180, 123, 96, 0.877);
}

.poketype-fire{
    background-color: rgb(255, 1, 1);
    color: var(--txt-color-light);  
 }

 .poketype-water {
    background-color: rgb(25, 64, 240);
    color: var(--txt-color-light);
 }

 .poketype-grass{
    background-color: rgb(27, 247, 7);
 }

 .poketype-fighter {
    background-color: rgb(68, 2, 2);
    color: var(--txt-color-light);
 }

 .poketype-flyer {
    background-color: rgb(154, 235, 231);
    color: var(--txt-color-dark);
 }

 .poketype-psychic {
    background-color: rgb(153, 0, 153);
    color: var(--txt-color-light)
 }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}